src/main/java/tasks/task8_28_11_2017/documents/Candy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="candy">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:ID" name="id"/>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:double" name="caloricity"/>

                <xs:element name="candyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="caramel"/>
                            <xs:enumeration value="chocolate"/>
                            <xs:enumeration value="iris"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="ingredients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ingredient" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="quantity"/>
                                        <xs:element type="xs:string" name="ingredientDescription"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="nutrionalValues">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nutrionalValue" maxOccurs="3" minOccurs="3">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="proteins"/>
                                        <xs:enumeration value="fats"/>
                                        <xs:enumeration value="carbohydrates"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="manufacturer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="manufacturerName"/>
                            <xs:element type="xs:string" name="manufacturerDescription"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>